<div class="header">
    <div *ngIf="isDesktop || !isLoggedIn" class="header__logo">
        <img [src]="appLogo" alt="App logo" />
    </div>

    <app-button
        *ngIf="!isDesktop && isLoggedIn"
        icon="menu"
        title="Toggle sidebar"
        [variant]="buttonVariant.Icon"
        (click)="onMenuClick()"
    >
    </app-button>

    <app-button
        *ngIf="isLoggedIn"
        buttonClass="profile-button"
        [variant]="buttonVariant.Icon"
        [menu]="menu"
        title="Profile-button"
    >
        <img
            class="header__profile-button-image"
            alt="User profile picture"
            [src]="currentUser?.profileImageUrl"
        />
    </app-button>

    <mat-menu #menu="matMenu" class="profile-card">
        <div class="profile-card__container">
            <div class="profile-card__header">
                <div class="profile-card__image-container">
                    <img
                        class="profile-card__image"
                        [src]="currentUser?.profileImageUrl"
                        alt="Profile image"
                    />
                </div>
                <h2 class="profile-card__name">{{ currentUser?.name }}</h2>
                <p class="profile-card__email">
                    {{ currentUser?.email }}
                </p>
            </div>

            <mat-divider></mat-divider>

            <div class="profile-card__details">
                <div class="profile-card__row">
                    <mat-icon>person_outline</mat-icon>
                    <span class="profile-card__label">Name</span>
                    <span class="profile-card__value">
                        {{ currentUser?.name }}
                    </span>
                </div>

                <div class="profile-card__row">
                    <mat-icon>mail_outline</mat-icon>
                    <span class="profile-card__label">Email</span>
                    <span class="profile-card__value profile-card__data">
                        {{ currentUser?.email }}
                    </span>
                </div>

                <div class="profile-card__row">
                    <mat-icon>verified_user</mat-icon>
                    <span class="profile-card__label">Role</span>
                    <span class="profile-card__value">
                        {{
                            currentUser?.role === Role.Admin ? 'Admin' : 'Owner'
                        }}
                    </span>
                </div>
            </div>

            <button mat-flat-button color="primary" (click)="logout()">
                Log out
            </button>
        </div>
    </mat-menu>
</div>
