<div class="header">
    <div class="header__logo">
        <img src="assets/images/icons/main-logo.svg" alt="" />
    </div>
    <button
        *ngIf="isLoggedIn"
        class="header__profile-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
    >
        <img
            class="header__profile-button-image"
            [src]="currentUser?.profileImageUrl"
            alt=""
        />
    </button>
    <mat-menu #menu="matMenu" class="profile-card">
        <div class="profile-card__container">
            <div class="profile-card__image-container">
                <img
                    class="profile-card__image"
                    [src]="currentUser?.profileImageUrl"
                    alt=""
                />
            </div>

            <div class="profile-card__data-container">
                <p class="profile-card__data">
                    Name :
                    <span
                        class="profile-card__username mat-headline-6 profile-card__value"
                        >{{ currentUser?.name }}</span
                    >
                </p>
                <p class="profile-card__data">
                    Email :
                    <span
                        class="profile-card__username mat-headline-6 profile-card__value"
                        >{{ currentUser?.email }}</span
                    >
                </p>
                <p class="profile-card__data">
                    Role :
                    <span
                        class="profile-card__username mat-headline-6 profile-card__value"
                        >{{ currentUser?.role }}</span
                    >
                </p>
            </div>

            <app-button label="Log out" (clicked)="logout()"></app-button>
        </div>
    </mat-menu>
</div>
