<ng-container [ngSwitch]="variant">
    <button
        *ngSwitchDefault
        class="button"
        mat-raised-button
        [disabled]="disabled || loading"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

        <ng-container *ngIf="!loading">
            <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
            {{ label }}
        </ng-container>
    </button>

    <button
        *ngSwitchCase="buttonVariant.Stroked"
        class="button"
        mat-stroked-button
        [disabled]="disabled || loading"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

        <ng-container *ngIf="!loading">
            <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
            {{ label }}
        </ng-container>
    </button>

    <button
        *ngSwitchCase="buttonVariant.Flat"
        class="button"
        mat-flat-button
        [disabled]="disabled || loading"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

        <ng-container *ngIf="!loading">
            <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
            {{ label }}
        </ng-container>
    </button>

    <button
        *ngSwitchCase="buttonVariant.Icon"
        class="button"
        mat-icon-button
        [ngClass]="buttonClass"
        [disabled]="disabled"
        [type]="type"
        [matMenuTriggerFor]="menu"
        (click)="onClick()"
    >
        <ng-content></ng-content>
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>
</ng-container>
