<ng-container [ngSwitch]="variant">
    <button
        *ngSwitchDefault
        mat-raised-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        [ngClass]="buttonClass"
    >
        {{ label }}
    </button>

    <button
        *ngSwitchCase="'stroked'"
        mat-stroked-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        [ngClass]="buttonClass"
    >
        {{ label }}
    </button>

    <button
        *ngSwitchCase="'flat'"
        mat-flat-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        [ngClass]="buttonClass"
    >
        {{ label }}
    </button>

    <button
        *ngSwitchCase="'icon'"
        mat-flat-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        [ngClass]="buttonClass"
    >
        <mat-icon>{{ icon }}</mat-icon>
    </button>
</ng-container>
