<ng-container [ngSwitch]="variant">
    <button
        *ngSwitchDefault
        mat-raised-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        {{ label }}
    </button>

    <button
        *ngSwitchCase="buttonVariant.Stroked"
        mat-stroked-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        {{ label }}
    </button>

    <button
        *ngSwitchCase="buttonVariant.Flat"
        mat-flat-button
        [disabled]="disabled"
        [type]="type"
        color="primary"
        (click)="onClick()"
        [ngClass]="buttonClass"
    >
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        {{ label }}
    </button>

    <button
        *ngSwitchCase="buttonVariant.Icon"
        mat-icon-button
        [ngClass]="buttonClass"
        [disabled]="disabled"
        [type]="type"
        [matMenuTriggerFor]="menu"
        (click)="onClick()"
    >
        <ng-content></ng-content>
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    </button>
</ng-container>
