<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer
        #drawer
        [mode]="isDesktop() ? 'side' : 'over'"
        [opened]="isExpanded()"
    >
        <div class="sidenav" *ngIf="isLoggedIn()">
            <mat-tree
                [dataSource]="dataSource"
                [treeControl]="treeControl"
                class="sidenav__tree"
            >
                <mat-tree-node *matTreeNodeDef="let node; when: isLink">
                    <a
                        class="sidenav__link"
                        [routerLink]="node.route"
                        routerLinkActive="sidenav__link--active"
                    >
                        <mat-icon>
                            {{ node.icon }}
                        </mat-icon>
                        <span>
                            {{ node.label }}
                        </span>
                    </a>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: isDivider">
                    <mat-divider class="sidenav__divider"></mat-divider>
                </mat-tree-node>

                <mat-nested-tree-node
                    *matTreeNodeDef="let node; when: hasChild"
                >
                    <button
                        class="mat-tree-node sidenav__tree-item sidenav__tree-button"
                        matTreeNodeToggle
                    >
                        <mat-icon>
                            {{ node.icon }}
                        </mat-icon>
                        <span>
                            {{ node.label }}
                        </span>

                        <mat-icon>
                            {{
                                treeControl.isExpanded(node)
                                    ? 'expand_more'
                                    : 'chevron_right'
                            }}
                        </mat-icon>
                    </button>

                    <div
                        role="group"
                        [class.sidenav__tree-hidden]="
                            !treeControl.isExpanded(node)
                        "
                    >
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>

            <div class="sidenav__bottom">
                <button
                    mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon"
                >
                    <mat-icon>tune</mat-icon>
                </button>

                <button
                    mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon"
                >
                    <mat-icon>public</mat-icon>
                </button>

                <button
                    mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon"
                >
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
