@use 'abstracts' as *;

.dashboard {
    width: 100%;
    height: 100%;
    @include flex-layout(normal, normal, column);

    &__header {
        @include flex-layout(space-between, center, row);
        width: 100%;
        padding-inline: 4px 16px;
    }

    &__data-list-cards {
        @include flex-layout(space-between, normal, column);
    }

    &__top-customers {
        flex: 1;
    }

    &__top-dishes {
        flex: 2;
    }

    &__footer {
        margin: pixelToRem(16);
    }

    @include breakpoint($viewPort-tablet) {
        &__data-list-cards {
            @include flex-layout(space-between, normal, row);
        }

        &__top-customers {
            flex: 1;
        }

        &__top-dishes {
            flex: 1;
        }
    }
}
