<div class="report-generator">
    <div class="report-generator__text-box">
        <h1 class="report-generator__heading mat-body-1">Report Generator</h1>
        <p class="report-generator__caption mat-subtitle-2">
            Generate performance reports for the selected restaurant context.
        </p>
    </div>

    <div class="report-generator__button-container">
        <app-button
            icon="equalizer"
            label="Top 10 Ordered Items"
            [variant]="ButtonVariant.Stroked"
        ></app-button>
        <app-button
            icon="fastfood"
            label="Frequently Bought Together"
        ></app-button>
    </div>
</div>
