@use 'abstracts/variables' as v;

@mixin flex-layout(
    $justify: normal,
    $align: normal,
    $direction: row,
    $gap: 0rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin font-face($font-family) {
    $styles: map-get(v.$fonts, $font-family);

    @each $style, $font in $styles {
        @font-face {
            font-family: '#{$font-family}';
            src: url('#{v.$font-path}#{map-get($font,"file-name")}.woff2');
            font-weight: map-get($font, 'font-weight');
            font-style: normal;
            font-display: swap;
        }
    }
}
