@use 'abstracts/variables' as *;

@mixin flex-layout($justify: normal, $align: normal, $direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin font-face($font-family) {
    $styles: map-get($fonts, $font-family);

    @each $style, $font in $styles {
        @font-face {
            font-family: '#{$font-family}';
            src: url('#{$font-path}#{map-get($font,"file-name")}.woff2');
            font-weight: map-get($font, 'font-weight');
            font-style: normal;
            font-display: swap;
        }
    }
}

@mixin text-ellipsis($lines: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin breakpoint($min-viewPort-width: $viewPort-tablet) {
    @media only screen and (min-width: $min-viewPort-width) {
        @content;
    }
}
