@use 'abstracts' as *;
@use 'base' as *;

:host {
    width: 100%;
}
.table {
    padding: pixelToRem(16);
    border-radius: pixelToRem(16);
    width: 100%;

    &__row {
        border-bottom: $border-primary;
    }
}
