@use '@angular/material' as mat;
@use 'abstracts' as *;
@use 'base' as *;

:host {
    width: min(90%, pixelToRem(400));
}

.login {
    @include flex-layout(center, center, row);
    width: 100%;
    height: 100%;
    padding: pixelToRem(16);
    &__container {
        @include flex-layout(space-between, center, column, pixelToRem(16));
        width: 100%;
        padding: pixelToRem(12);
        box-shadow: 0 pixelToRem(4) pixelToRem(12) rgba(0, 0, 0, 0.2);
    }

    &__heading {
        margin: 0;
        text-align: center;
    }

    &__description {
        color: $font-color-secondary;
    }

    &__input {
        width: pixelToRem(400);
        margin: 0;
    }

    &__error {
        padding: pixelToRem(8);
    }

    &__button {
        width: 100%;
    }
}

.example-form {
    min-width: pixelToRem(150);
    max-width: pixelToRem(500);
    width: 100%;
}

.example-full-width {
    width: 100%;
}
