<div class="login">
    <mat-card class="login__container">
        <div class="login__header">
            <h1 class="mat-headline-4 login__heading">Restaurant Portal</h1>
            <p class="mat-subtitle-2 login__description">
                Log in to manage orders, menus, and stats.
            </p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login__input">
                <app-form-field
                    label="Email Address"
                    placeholder="Email address"
                    [variant]="InputType.Email"
                    [control]="email"
                    class="login__input"
                >
                </app-form-field>
            </div>
            <div class="login__input">
                <app-form-field
                    label="Password"
                    placeholder="Password"
                    [variant]="InputType.Password"
                    [control]="password"
                >
                </app-form-field>
            </div>

            <app-button [type]="buttonType.Submit" label="LOGIN"></app-button>
        </form>
    </mat-card>
</div>
