<div class="login">
    <mat-card class="login__container">
        <div class="login__header">
            <h1 class="mat-headline-4 login__heading">Restaurant Portal</h1>
            <p class="mat-subtitle-2 login__description">
                Log in to manage orders, menus, and stats.
            </p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <app-form-field
                label="Email Address"
                placeholder="Email address"
                [variant]="inputVariant.email"
                [control]="email"
                class="login__input"
            >
            </app-form-field>

            <app-form-field
                label="Password"
                placeholder="Password"
                [variant]="inputVariant.password"
                [control]="password"
                class="login__input"
            >
            </app-form-field>

            <div class="login__error" *ngIf="loginError">
                Invalid email or password
            </div>

            <app-button [type]="buttonType.submit" label="LOGIN"></app-button>
        </form>
    </mat-card>
</div>
