<mat-card class="footer">
    <p class="footer__text mat-body-2">
        © 2021 Themesberg, LLC. All rights reserved.
    </p>
    <div class="footer__logo-container">
        <a class="footer__logo-link" href="#"
            ><img
                class="footer__logo"
                src="assets/images/icons/Vector.svg"
                alt=""
        /></a>
        <a class="footer__logo-link" href="#"
            ><img
                class="footer__logo"
                src="assets/images/icons/Vector (1).svg"
                alt=""
        /></a>
        <a class="footer__logo-link" href="#"
            ><img
                class="footer__logo"
                src="assets/images/icons/Vector (2).svg"
                alt=""
        /></a>
        <a class="footer__logo-link" href="#"
            ><img
                class="footer__logo"
                src="assets/images/icons/Vector (3).svg"
                alt=""
        /></a>
    </div>
</mat-card>
