@use '@angular/material' as mat;
@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;
@use 'base/typography' as t;
@use 'abstracts/colors' as c;
@use 'abstracts/functions' as *;

.error {
    @include m.flex-layout(space-between, center, column);
    width: 100%;
    padding: pixelToRem(16);
    gap: pixelToRem(60);

    &__image-container {
        overflow: hidden;
        width: 100%;
        max-width: pixelToRem(500);
    }

    &__image {
        object-fit: cover;
        width: 100%;
    }

    &__text-box {
        @include m.flex-layout(space-between, center, column);
        gap: pixelToRem(12);
    }

    &__heading {
        color: c.$font-color-primary;
        margin: 0;
    }

    &__paragraph {
        font-weight: 400;
        color: c.$font-color-secondary;
        line-height: 1.5;
        text-align: center;
    }

    &__button {
        border-radius: pixelToRem(9);
        width: 100%;
    }
}

.test {
    background-color: red !important;
}

@media screen and (min-width: v.$viewPort-tablet) {
    .error {
        &__heading {
            font-size: pixelToRem(48);
        }
    }
}
