@use '@angular/material' as mat;
@use 'abstracts' as *;
@use 'base' as *;

.error {
    @include flex-layout(space-between, center, column, pixelToRem(60));
    width: 100%;
    padding: pixelToRem(16);

    &__image-container {
        overflow: hidden;
        width: 100%;
        max-width: pixelToRem(500);
    }

    &__image {
        object-fit: cover;
        width: 100%;
    }

    &__text-box {
        @include flex-layout(space-between, center, column, pixelToRem(12));
    }

    &__heading {
        color: $font-color-primary;
        margin: 0;

        @include breakpoint($viewPort-tablet) {
            font-size: pixelToRem(48);
        }
    }

    &__paragraph {
        @include text-ellipsis(3);
        font-weight: 400;
        color: $font-color-secondary;
        line-height: 1.5;
        text-align: center;
    }

    &__button {
        border-radius: pixelToRem(9);
        width: 100%;
    }
}
